
<%- partial('_partial/header') %>
<div id="post_list">
    <% page.posts.each(function (post) { %>
        <%var title = post.title==""?__('post.title'):post.title%> 
        <div class="post_item">
            <a class="post_title" href="<%- url_for(post.path) %>" title="<%- title %> ">
                <%- title %>
            </a>
            <div class="post_description">
                <% 
                    var length = theme.index_description.length 
                    var description = ''
                    if(post.description){
                        description= post.description
                    }else{
                        description = strip_html(post.content)
                        description = description.substring(0,length)
                    }
                    
                %> 
                <%- description %>
            </div>
            <% if (post.cover) { %>
                <img src="<%- post.cover %>" alt="<%- title %>" class="cover">
            <% } %>
            <div class="post_meta_wrap">
                <span class="post_meta_date">
                    <i class="far fa-calendar-alt"></i>
                    <span><%- __('post.created') %>  </span>
                    <span>
                        <%- date(post.date, "YYYY-MM-DD" ) %>
                    </span>
                </span>
                <% if(post.categories.length!=0){ %>
                <span class="post_categorie">
                    <i class="fas fa-folder-open"></i>
                    <% post.categories.forEach(function(categories, i){ %>
                        <a href="<%= url_for(categories.path) %>">
                            <%-categories.name%>aa
                        </a>
                        <%if(post.categories.length-1> i){%>
                            <i class="fas fa-angle-right"></i>
                        <%} %>
                    <% }) %>
                </span>
                <%} %>

                <% if(post.tags.length!=0){ %>
                    <span class="post_tag">
                    <i class="fa fa-tag"></i>
                    <% post.tags.forEach(function(tag, i){ %>
                    <a href="<%= url_for(tag.path) %>">
                        <%-tag.name%>
                    </a>
                    <%if(post.tags.length-1> i){%>
                        <i class="fas fa-angle-right"></i>
                        <%} %>
                    <% }) %>
                </span>
                <%} %>
            </div>
        </div>
        <% }) %>
        <%- partial('_partial/pagination') %>
</div>
