<!DOCTYPE html>
<html>
<head>
    <%- partial('_global/head') %>
</head>

<body>
    <%- partial('_global/import_bodyBefore') %> 
    <%- partial('_global/config') %>
    <%- partial('_partial/third_party/analytics') %>
    <div id="body-wrap">
        <%- partial('_global/nav') %>
        <%- partial('_global/header') %>
        <main id="main">
            <%- body %>
        </main>
    </div>
    <%- partial('_partial/rightside') %>
    <%- partial('_global/footer') %>
    <div id="mask" onclick="closeAll()"></div>
    <%- partial('_global/search') %>
    <script src="<%= url_for(theme.CDN.mainJs) %>"></script>
    <%- partial('_global/import_bodyAfter') %>
</body>

</html>