<!DOCTYPE html>
<html>

<head>
    <%- partial('_global/head') %>
</head>

<body>
        <%# 非404页面 %> 
        <div id="mask" onclick="close_all()"></div>
        <%-partial('_global/import_top')%> 
        <%- partial('_global/config') %>
        <%- partial('_partial/third_party/analytics') %>
        <div id="body_wrap">
            <%- partial('_global/nav') %>
                <main class="main">
                    <%- body %>
                </main>
            <%- partial('_partial/rightside') %>
            <%- partial('_global/search') %>
        </div>
        <%- partial('_global/footer') %>
        <script src="<%-theme.CDN.main_js%>"></script>
        <%- partial('_global/import_bottom')%>
        <%- partial('_partial/third_party/pjax') %>

</body>

</html>