<!DOCTYPE html>
<%- partial('_partial/head') %>
<html>

<body>
  <div class="container">
    <%- partial('_partial/header') %>
    <main class="main-block-wrap">
      <div class="main-block">
        <% if(!is_home()){ %>
        <h1 class="page-title"><%= page.title || _p('post.title') %></h1>
        <% } %>
        <%- body %>
      </div>
      <%- partial('_partial/aside') %>
    </main>
    <%- partial('_partial/pagination') %>
    <%- partial('_partial/footer') %>
  </div>
</body>

</html>