
<!DOCTYPE html>
<html>
<head>
    <%- partial('_global/head') %>
</head>

<body>
    <%- partial('_global/import_bodyBefore') %> 
    <%- partial('_global/config') %>
    <%- partial('_partial/third_party/analytics') %>
    <div id="body-wrap">
        <%- partial('_global/nav') %>
        <main id="main">
            <%- body %>
        </main>
        <%- partial('_partial/rightside') %>
        <%- partial('_global/footer') %>
    </div>
    <div id="mask" onclick="closeAll()"></div>
    <%- partial('_global/search') %>
    <div class="script">
        <script src="<%= theme.CDN.mainJs %>"></script>
        <%- partial('_global/import_bodyAfter') %>
        <%- partial('_partial/third_party/pjax') %>
    </div>
</body>

</html>