

<article id="post">
  <div class="post-info">
    <div class="post-title">
      <h1><%= page.title ||__('post.title')%></h1>
    </div>
    <div class="post-meta">
      <div class="post-date">
        <i class="far fa-calendar-alt fa-fw post-meta-icon"></i>
        <span class="post-meta-label">
          <%= __('post.created') %>
            <%= date(page.date, "YYYY-MM-DD" ) %> |
        </span>
        
        <i class="fas fa-history fa-fw post-meta-icon"></i>
        <span class="post-meta-label">
          <%= __('post.updated') %>
            <%= date(page.update, "YYYY-MM-DD" ) %>
        </span>
      </div>
      <div class="post-meta-wordcount">
        <i class="far fa-file-word fa-fw post-meta-icon"></i>
        <span class="post-meta-label"><%= __('post.wordcount') %>:</span>
        <span class="word-count"><%= wordcount(page.content) %> | </span>
        <i class="far fa-clock fa-fw post-meta-icon"></i>
        <span class="post-meta-label"><%= __('post.min2read') %>:</span>
        <span><%= min2read(page.content) %><%= __('post.min2readUnit') %></span>
        <%- partial('_partial/third_party/comment/visitors') %>
      </div>
    </div>
  </div>
  <div class="post-content">
    <%- page.content %>
  </div>
  <%# 版权 %> 
  <% 
  var url = `${config.url}/${page.path}` // 文章地址
  var licenses = theme.copyright.licenses.split("||") // 版权许可
  var title = theme.copyright.title||config.title // 网站标题
  var mail = theme.copyright.mail // 作者邮箱
  var description = theme.copyright.description.split("||")
  var author = theme.copyright.author||config.author // 作者
  %> 
<% if (theme.copyright.enable){ %>
  <% if (page.copyright==null||page.copyright){ %>
  <div class="post-copyright">
    <div class="post-copyright-icon"></div>
      <div class="post-copyright-author">
          <span class="post-copyright-meta"><%= __('copyright.author') %>: </span>
            <span class="post-copyright-info">
              <a href="mailto:<%= mail %>" ><%= author%></a>
            </span>
      </div>
      <div class="post-copyright-type">
          <span class="post-copyright-meta"><%=__('copyright.articleUrl')%>: </span>
            <span class="post-copyright-info">
              <a href="<%= url %>" ><%= url %></a>
            </span>
      </div><div class="post-copyright-notice">
          <span class="post-copyright-meta"><%= __('copyright.notice') %>: </span>
            <span class="post-copyright-info"><%= description[0] %>
              <a href="<%= licenses[1] %> " target="_blank" >
                  <%= licenses[0] %> </a> <%= description[1] %>
              <a href="<%= url %>" target="_blank" ><%= title %></a>
              ！</span>
      </div>
  </div>
  <% } %>
<% } %>

<%# 标签  %> 
<%if(theme.tags){%>
  <% if(page.tags.length!=0){ %>
    <div class="post-tag">
        <span>
            <i class="fa fa-tag"></i>
            <% page.tags.forEach(function(tag, i){ %> 
            <a href="<%= tag.path %>"><span><%= tag.name %></span></a>
                <%if(page.tags.length-1 > i){%>
                    <i class="fas fa-angle-right"></i>
                <%} %>
            <% }) %>
        </span>
    </div>
  <% } %>
<%}%>


<%# 上下一篇文章 %>
<div class="pagination-post">
    <% if (page.prev){ %>
    <a href="<%= url_for(page.prev.path) %>">
      <div class="prev-title"><i class="fas fa-chevron-left"></i><%=page.prev.title||__('post.title')%></div>
      <div class="prev-desc"><%= truncate(strip_html(page.prev.content), {length: 100}) %></div>
    </a>
    <% } %>
    <% if (page.next){ %>
    <a href="<%= url_for(page.next.path) %>">
      <div class="next-title"><%=page.next.title||__('post.title')%><i class="fas fa-chevron-right"></i></div>
      <div class="next-desc"><%= truncate(strip_html(page.next.content), {length: 100}) %></div>
    </a>
    <% } %>
</div>
<%- partial('_partial/third_party/comment/index') %>
</article>
<%# 是否是文章 %> 
<% 
  var enableToc=theme.toc.enable ; 
  var isExistToc = page.hasOwnProperty("toc") // page中是否有toc属性
  var pageToc = true
  if(isExistToc) pageToc = page.toc
  var isToc=is_post()&&pageToc&&toc(page.content) 
%>
<%if(enableToc&&isToc){%>
  <div id="toc-wrap">
    <div id="toc">
      <div class="toc-title">
        <div>
          <%= __("post.toc")%>
            <span class="num">0%</span>
        </div>
        <progress class="progress" value="0" max="100"></progress>
      </div>
      <div class="toc-list">
        <% var options = theme.toc.options||{} %> 
        <%- toc(page.content,options) %>
      </div>
    </div>
  </div>
<%}%>
