
<%
var lastYear;
var lastMonth;
%>
<div class="article_count"><%- __('article-count') %>  - <%= site.posts.length %></div>
<div class="archive_article_info">
<% page.posts.sort('date', 'desc').each(function(post) { %>
    <% 
        var title = post.title||__('post.title')
        var currentYear = post.date.year(); 
        var currentMonth = post.date.format('MM-DD');
    %>
    <% if (lastYear != currentYear) { %>
        <% lastYear = currentYear; %>
        <h4 class="archive_year"><%= currentYear %></h4>
    <% } %>
        <div class="article_item">
            
            <a class="article_title_item" href="<%- url_for(post.path) %>" title="<%=title %>"><%= title %></a>
        
            <time class="post_created_date">
                <i class="far fa-calendar-alt"></i>
                 <%= currentMonth %>
            </time>
        </div>
<% }) %>
</div>

<%- partial('../pagination') %>