<% var year %>
<% page.posts.sort('date', 'desc').each(function(post) { %>
    <% 
        var tempYear = date(post.date, 'YYYY')
        var title = post.title||__('post.title')
        var currentYear = post.date.year(); 
    %>
    <% if (year != currentYear) { %>
        <% year = currentYear; %>
        <h4 class="archive-year"><%= year %></h4>
    <% } %>
        <div class="article-item">
            <% if (post.cover) { %>
                <a class="article-item-cover" title="<%= title %>" href="<%= url_for(post.path) %>">
                    <img src="<%= post.cover %> ">
                </a>
            <% } %>
            <div class="article-item-info">
                <div class="article-item-date">
                    <time>
                        <i class="far fa-calendar-alt"></i>
                        <%= date(post.date, config.date_format) %>
                    </time>
                </div>
                <a class="article-item-title" href="<%= url_for(post.path) %>"><%= title %></a>
            </div>
        </div>
<% }) %>