<div class="main">
    <div id="page-title" class="page-title">
        <h2><%= theme.artitalk.title %></h2>
    </div>
    <% var option = theme.artitalk.option ? JSON.stringify(theme.artitalk.option) : false %>
    <%if(theme.pjax){%>
    <div id="artitalk_main" artitalk='
    <script>
    function initArtitalk(){
        let initData = {
            appId: "<%-theme.artitalk.appid%>",
            appKey: "<%-theme.artitalk.appkey%>",
            atEmoji: <%-JSON.stringify(theme.artitalk.atEmoji)%>,
        }
        var option = <%-option%>;
        if(option){
            initData = Object.assign(initData, option)
        }
        new Artitalk(initData)
    }
    initArtitalk()</script>'></div>
    <%}%>
    <%if(!theme.pjax){%>
    <div id="artitalk_main"></div>
    <script src="<%-theme.CDN.artitalk%>"></script>
    <script>
    function initArtitalk(){
        let initData = {
            appId: '<%-theme.artitalk.appid%>',
            appKey: '<%-theme.artitalk.appkey%>',
            atEmoji: <%-JSON.stringify(theme.artitalk.atEmoji)%>,
        }
        var option = <%-option%>;
        if(option){
            initData = Object.assign(initData, option)
        }
        new Artitalk(initData)
    }
    initArtitalk()
    </script>
    <%}%>
</div>
<section id="rightside">
	<div id="rightside-item">
		<a id="darkmode" title="<%-_p('rightside.dark')%>">
			<i class="fas fa-moon"></i>
		</a>
		<a href="#" title="<%-_p('rightside.back_to_top')%>">
			<i class="fas fa-arrow-up"></i>
		</a>
	</div>
</section>