<div id="post-list">
  <%- partial('_partial/header') %>
  <% page.posts.each(function (post) { %>
  <% var title = post.title || __('post.title') %>
  <div class="post-item">
    <%if(post.cover){%>
    <div class="post-item-cover">
      <a class="post-title" href="<%= url_for(post.path) %>" title="<%= title %> ">
        <img src="<%= url_for(post.cover) %>" alt="">
      </a>
    </div>
    <% } %>
    <div class="post-item-info">
      <a class="post-title" href="<%= url_for(post.path) %>" title="<%= title %> ">
        <% if (post.sticky) { %>
        <% 
          const stick =  theme.stick.text || __('post.stick')
         %>
        <span class="stick"><%- stick %></span><%= title %>
        <% }else{ %>
        <%= title %>
        <% } %>
      </a>
      <div class="post-description">
        <% 
            var description
            if (post.description) description = post.description
            else{
                // 先移除多余得空格和换行符，以及代码块的行号
                description = post.content.replace(/<td class=\"gutter\"><pre>(.*?)<\/pre><\/td>/gim,'')
                description = description.replace(/[\n]|[\r\n]|[\s]/gim,'')
                // 然后移除html标签
                description = strip_html(description)
                // 最后分割，获取指定内容
                description = truncate(description,{length: theme.description.length })
            }
        %>
        <%= description %>
      </div>
      <div class="post-meta-wrap">
        <span class="post-meta-date">
          <i class="far fa-calendar-alt"></i>
          <span><%= __('post.created') %> </span>
          <span>
            <%= date(post.date, "YYYY-MM-DD" ) %>
          </span>
        </span>
        <% if(post.categories.length!=0){ %>
        <span class="post-categorie">
          <i class="fas fa-folder-open"></i>
          <% post.categories.forEach(function(categories, i){ %>
          <a href="<%= url_for(categories.path) %>">
            <%= categories.name %>
          </a>
          <%if(post.categories.length-1> i){%>
          <i class="fas fa-angle-right"></i>
          <%} %>
          <% }) %>
        </span>
        <%} %>

        <% if(post.tags.length!=0){ %>
        <span class="post-tag">
          <i class="fa fa-tag"></i>
          <% post.tags.forEach(function(tag, i){ %>
          <a href="<%= url_for(tag.path) %>">
            <%= tag.name %>
          </a>
          <%if(post.tags.length-1> i){%>
          <i class="fas fa-angle-right"></i>
          <%} %>
          <% }) %>
        </span>
        <%} %>
      </div>
    </div>

  </div>
  <% }) %>
  <%- partial('_partial/pagination') %>
</div>

<%- partial('_partial/sidebar') %>