<ul class="post-list">
  <% page.posts.forEach(function (post) { %>
  <li class="post-item">
    <div class="post-meta">
      <div class="post-date"><%= date(post.date, "YYYY.MM.DD" ) %></div>
      <div class="post-tag">
        <% post.tags.forEach(function(tag, i){ %>
        <a href="<%= url_for(tag.path) %>" class="post-tag-item"><%= tag.name %></a>
        <% }) %>
      </div>
    </div>
    <div class="post-content-wrap">
      <div class="post-content">
        <% var title = post.title || _p('post.title') %>
        <a href="<%= url_for(post.link || post.path) %>" class="post-title" <%= post.link ? 'target="_blank"' : '' %>><%= title %></a>
        <a href="<%= url_for(post.path) %>" class="post-abstract"><%= getAbstract(post, theme.post.abstract) %></a>
        <ul class="post-action-list">
          <% if(theme.wordcount.enable){ %>
          <% if(theme.wordcount.wordcount){ %>
          <li class="post-action-item post-word">
            <%- partial('_assets/svg/word', { className: 'word-icon' }) %>
            <span><%= wordcount(post.content) %></span>
          </li>
          <% } %>
          <% if(theme.wordcount.min2read){ %>
          <li class="post-action-item post-time">
            <%- partial('_assets/svg/time', { className: 'time-icon' }) %>
            <span><%= min2read(post.content) + 'min' %></span>
          </li>
          <% } %>
          <% } %>
        </ul>
      </div>

      <% if(post.cover){ %>
      <img class="post-cover" src="<%= post.cover %>" />
      <% } %>
    </div>
  </li>
  <% }) %>
</ul>