<!DOCTYPE html>
<html lang="<%-theme.language || config.language%>">
<head>
    <%- partial('_partial/head') %>
    <%- partial('_partial/import_head') %>   
</head>
<body id="body">
    <div id="mask"></div>
    <%- partial('_partial/third-party/search/local-search') %>
    <%- partial('_partial/third-party/analytics') %>  
    <div class="body-main" id="body-main">
        <div id="body-wrap">
            <%- partial('_partial/nav') %>
            <%- partial('_partial/header') %>
            <main class="content">
                <%- body %>
            </main>
        </div>
        <%if(theme.toc.enable){%>
        <%if(page.layout=="post"){%>
            <%if(toc(page.content,{list_number: false})!=""){%>
            <div id="toc">
                <div id="toc-title">
                    <h4><%-_p("article.toc")%>
                        <span id="num">0%</span>
                    </h4>
                    <progress id="progress" value="0" max="100"></progress>
                </div>
                <%- toc(page.content,{list_number: false}) %>
            </div>
            <%}else{%>
                <div id="toc" style="display: none;"></div>
            <%}%>
        <%}else{%>
            <div id="toc" style="display: none;"></div>
        <%}%>
        <%}%>
    </div>
    <%- partial('_partial/footer') %>
    <script>

        var $config = {
            search:{
                enable: <%-theme.search.enable%>,
                path: "<%-theme.search.path%>"
            },
            lazyload:{
                enable: <%-theme.lazyload.enable%>,
            },
            CodeBlock:{
                enable: <%-theme.CodeBlock.enable%>,
                height: "<%-theme.CodeBlock.height%>",
                scrollTop: "<%-theme.CodeBlock.scrollTop%>"
            },
            CDN:{
                fancybox_js: "<%-theme.CDN.fancybox_js%>",
                fancybox_css: "<%-theme.CDN.fancybox_css%>",
                search: "<%-theme.CDN.search%>",
            }
        }

        <% if (theme.amusing_title && theme.amusing_title.enable) { %>
        var originTitle = document.title;
        var titleTime;
        document.addEventListener("visibilitychange", function () {
            if (document.hidden) {
                document.title = "<%- theme.amusing_title.leave_title %>" + originTitle;
                clearTimeout(titleTime);
            } else {
                document.title = "<%- theme.amusing_title.return_title %>" + originTitle;
                titleTime = setTimeout(function () {
                    document.title = originTitle;
                }, 2000);
            }
        });
        <% } %>
        
        <%if(theme.pjax){%>
        // 清除时间
        var timer = null;
        // 执行进度条
        function ProgressStart(){
            // 设置初始进度
            var progress = 10;
            // 创建进度条 及 css样式
            $("body").append("<div class='progress'></div>")
            // 定义随机数最大值最小值
            var max=10,mini=3;
            var result=max-mini;
            // 清除
            clearInterval(timer);
            // 0.5秒内累加进度
            timer = setInterval(function(){
                // 随机数
                var num = parseInt(Math.random()*result);
                var randomResult = num+mini;
                // 累加
                progress+=randomResult
                $("body .progress").css("width",progress+"%")
                // 当进度达到95%时停止
                if(progress>95)progress=95
            },500)
        }
        // 加载进度条加载完毕
        function ProgressFinish(){
            clearInterval(timer);
            // 页面加载完毕后进度100% 并在0.7秒后删除
            $("body .progress").css("width","100%")
            timer = setTimeout(function () {
                $("body .progress").remove();
            }, 700);
        }
        // 手机端
        function Mobile(){
            // 手机端导航栏跳转关闭
            $("#mobileNav").css("opacity", "0")
            $("#mobileNav").removeClass("open")
            $("#mask").removeClass("mask")
            // 解除手机端页面跳转无法滚动
            $("html").css("overflow", "auto")
            // 手机端搜索框关闭
            $("#local-search").css("display", "none")
        }
        <%}%>
    </script>
    <%- partial('_partial/import_bottom') %>
    <%- partial('_partial/third-party/pjax') %>
    <%if(theme.updown.enable){%>
    <div id="updown">
        <a href="#footer">
            <img src="<%-theme.updown.left[0]%>" onmouseout='this.src="<%-theme.updown.left[0]%>";' onmouseover='this.src="<%-theme.updown.left[1]%>";'>
        </a>
        <a href="#body">
            <img src="<%-theme.updown.rgiht[0]%>" onmouseout='this.src="<%-theme.updown.rgiht[0]%>";' onmouseover='this.src="<%-theme.updown.rgiht[1]%>";'>
        </a>
    </div>
    <%}%>
</body>
</html>