<!DOCTYPE html>
<html lang="<%-theme.language || config.language%>">
<head>
    <%- partial('_partial/head') %>
    <%- partial('_partial/import_head') %>   
</head>
<body id="body">
    <div id="mask"></div>
    <%- partial('_partial/third-party/search/local-search') %>
    <%- partial('_partial/third-party/analytics') %>  
    <div class="body-main" id="body-main">
        <div id="body-wrap">
            <%- partial('_partial/nav') %>
            <%- partial('_partial/header') %>
            <main class="content">
                <%- body %>
            </main>
        </div>
        <%if(theme.toc.enable){%>
        <%if(page.layout=="post"){%>
            <%if(toc(page.content,{list_number: false})!=""){%>
            <div id="toc">
                <div id="toc-title">
                    <h4><%-_p("article.toc")%>
                        <span id="num">0%</span>
                    </h4>
                    <progress id="progress" value="0" max="100"></progress>
                </div>
                <%- toc(page.content,{list_number: false}) %>
            </div>
            <%}else{%>
                <div id="toc" style="display: none;"></div>
            <%}%>
        <%}else{%>
            <div id="toc" style="display: none;"></div>
        <%}%>
        <%}%>
    </div>
    <%- partial('_partial/footer') %>
    <script>
        // local-search
        $.getScript('<%-theme.CDN.search%>', function () {
            searchFunc('<%-theme.search.path%>','local-search-input','local-search-result')
        })
        
        // 清除时间
        var timer = null;
        // 执行进度条
        function ProgressStart(){
            // 设置初始进度
            var progress = 10;
            // 创建进度条 及 css样式
            $("body").append("<div class='progress'></div>")
            // 定义随机数最大值最小值
            var max=10,mini=3;
            var result=max-mini;
            // 清除
            clearInterval(timer);
            // 0.5秒内累加进度
            timer = setInterval(function(){
                // 随机数
                var num = parseInt(Math.random()*result);
                var randomResult = num+mini;
                // 累加
                progress+=randomResult
                $("body .progress").css("width",progress+"%")
                // 当进度达到95%时停止
                if(progress>95)progress=95
            },500)
        }
        // 加载进度条加载完毕
        function ProgressFinish(){
            clearInterval(timer);
            // 页面加载完毕后进度100% 并在0.7秒后删除
            $("body .progress").css("width","100%")
            timer = setTimeout(function () {
                $("body .progress").remove();
            }, 700);
        }
        // 手机端
        function Mobile(){
            // 手机端导航栏跳转关闭
            $("#mobileNav").css("opacity", "0")
            $("#mobileNav").removeClass("open")
            $("#mask").removeClass("mask")
            // 解除手机端页面跳转无法滚动
            $("html").css("overflow", "auto")
            // 手机端搜索框关闭
            $("#local-search").css("display", "none")
        }

        function CopyContent(){
            // 当鼠标移动到代码块上时执行
            $(".highlight-wrap").hover(
                function() {
                    // 移除其他代码块的 CopyContent 属性
                    $("[CopyContent]").removeAttr("CopyContent");
                    // 在当前鼠标所在的元素下的 .code 元素上添加 CopyContent属性
                    $(this).find(".code").attr("CopyContent", "");
                }
            );
        }

        // fancybox
        function FancyboxFn(){
            $.getScript("<%-theme.CDN.fancybox_js%>",function(){
                $(".post-content img").each(function () {
                    var element = document.createElement("a");
                    $(element).attr("data-fancybox", "images");
                    $(element).attr("href", $(this).attr("src"));
                    $(this).wrap(element);
                });
                $().fancybox({
                    selector: '[data-fancybox="images"]',
                    loop: true,
                    transitionEffect: 'slide',
                    protect: true,
                    buttons: ['slideShow', 'fullScreen', 'thumbs', 'close'],
                    hash: false
                });
                $("head").append("<link>");
                fancybox_css =$("head").children(":last");
                    fancybox_css.attr({
                    rel: "stylesheet",
                    type: "text/css",
                    href: "<%-theme.CDN.fancybox_css%>"
                });
            })
        }
        FancyboxFn()
    </script>
    <%- partial('_partial/import_bottom') %>
    <%- partial('_partial/third-party/pjax') %>
</body>
</html>