<!DOCTYPE html>
<%- partial('_partial/head') %>
<html>

<body>
  <%- partial('_partial/import', { resource: theme.import.body.before }) %>
  <div class="container">
    <%- partial('_partial/header') %>
    <div class="main-wrap">
      <main class="main-width">
        <% if(is_page() || is_post()){ %>
        <h1 class="page-title"><%= page.title || _p('post.title') %></h1>
        <% } %>
        <%- body %>
      </main>
      <%- partial('_partial/aside') %>
    </div>
    <%- partial('_partial/pagination') %>
    <%- partial('_partial/footer') %>
  </div>
  <%- partial('_partial/import', { resource: theme.import.body.after }) %>
</body>

</html>