<% 
var link = deep_clone(site.data.link)
const screenshot = link.screenshot
delete link.screenshot
%>

<div class="link" id="link">
  <% for(var i in link){ %>
  <h2 class="link-title"><%= link[i].class_name %></h2>
  <div class="link-subtitle"><%= link[i].class_desc %></div>
  <div class="link-list">
    <% var link_lists = link[i].link_list %>
    <%for(var link_list in link_lists){%>

      <%# 是否使用屏幕截图 %>
      <% if (link_lists[link_list].screenshot) { %>
          <div class="link-list-item-screenshot">
            <a href="<%= link_lists[link_list].link %>">
                <img src="<%= screenshot.replace('${url}',link_lists[link_list].link) %>">
              <div class="link-item-info">
                <img src="<%= link_lists[link_list].avatar %>">
                <span><%= link_lists[link_list].name %></span>
              </div>
            </a>
          </div>
      <% } else { %>
        <div class="link-list-item">
          <a href="<%= link_lists[link_list].link %>">
            <img src="<%= link_lists[link_list].avatar %>" alt="<%= link_lists[link_list].descr %>">
            <span class="link-item-name"><%= link_lists[link_list].name %></span>
            <span class="link-item-desc"><%= link_lists[link_list].descr %></span>
          </a>
        </div>
      <%}%>
    <%}%>
    </div>
  <%}%>
</div>