<%# 

这里是文章页
即你从首页点击某篇文章进入文章查看文章完整内容的页面

%> 

<article class="post">
  <div class="post_info">
    <div class="post_title">
      <h1><%= page.title ||__('post.title')%></h1>
    </div>
    <div class="post_meta">
      <div class="post_date">
        <i class="far fa-calendar-alt fa-fw post-meta-icon"></i>
        <span class="post-meta-label">
          <%- __('post.created') %>
            <%- date(page.date, "YYYY-MM-DD" ) %> |
        </span>
        
        <i class="fas fa-history fa-fw post-meta-icon"></i>
        <span class="post-meta-label">
          <%- __('post.updated') %>
            <%- date(page.update, "YYYY-MM-DD" ) %>
        </span>
      </div>
      <div class="post-meta-wordcount">
        <i class="far fa-file-word fa-fw post-meta-icon"></i>
        <span class="post-meta-label"><%- __('post.wordcount') %>:</span>
        <span class="word-count"><%= wordcount(page.content) %> | </span>
        <i class="far fa-clock fa-fw post-meta-icon"></i>
        <span class="post-meta-label"><%- __('post.min2read') %>:</span>
        <span><%= min2read(page.content) %><%- __('post.min2read_unit') %></span>
        <%if(page.comments){%>
        | <i class="far fa-eye fa-fw post-meta-icon"></i>
        <span id="<%- url_for(page.path) %>" class="leancloud_visitors">
            <span class="post-meta-label"><%- __('post.visitors') %>:</span>
            <span class="leancloud-visitors-count" id="twikoo_visitors">0</span>
        </span>
        <%}%>
      </div>
    </div>
  </div>
  <div class="post_content">
    <%- page.content %>
  </div>
  <%# 版权 %> 
  <% 
  var url = `${config.url}/${page.path}` // 文章地址
  var licenses = theme.copyright.licenses.split("||") // 版权许可
  var title = theme.copyright.title||config.title // 网站标题
  var mail = theme.copyright.mail // 作者邮箱
  var description = theme.copyright.description.split("||")
  var author = theme.copyright.author||config.author // 作者
  %> 
<% if (theme.copyright.enable){ %>
  <% if (page.copyright==null||page.copyright){ %>
  <div class="post_copyright">
    <div class="post_copyright_icon"></div>
      <div class="post_copyright_author">
          <span class="post_copyright_meta"><%-__('copyright.author')%>: </span>
            <span class="post_copyright_info">
              <a href="mailto:<%- mail %>" ><%- author%></a>
            </span>
      </div>
      <div class="post_copyright_type">
          <span class="post_copyright_meta"><%-__('copyright.article_url')%>: </span>
            <span class="post_copyright_info">
              <a href="<%= url %>" ><%= url %></a>
            </span>
      </div><div class="post_copyright_notice">
          <span class="post_copyright_meta"><%-__('copyright.notice')%>: </span>
            <span class="post_copyright_info"><%-description[0]%>
              <a href="<%= licenses[1] %> " target="_blank" >
                  <%= licenses[0] %> </a> <%-description[1]%>
              <a href="<%= url %>" target="_blank" ><%-title%></a>
              ！</span>
      </div>
  </div>
  <% } %>
<% } %>

<%# 标签  %> 
<%if(theme.tags){%>
  <% if(page.tags.length!=0){ %>
    <div class="post_tag">
        <span>
            <i class="fa fa-tag"></i>
            <% page.tags.forEach(function(tag, i){ %> 
            <a href="<%= tag.path %>"><span><%-tag.name%></span></a>
                <%if(page.tags.length-1 > i){%>
                    <i class="fas fa-angle-right"></i>
                <%} %>
            <% }) %>
        </span>
    </div>
  <% } %>
<%}%>


<%# 上下一篇文章 %>
<div class="pagination_post">
    <% if (page.prev){ %>
    <a href="<%- url_for(page.prev.path) %>">
      <div class="prev_title"><i class="fas fa-chevron-left"></i><%=page.prev.title||__('post.title')%></div>
      <div class="prev_desc"><%- truncate(strip_html(page.prev.content), {length: 100}) %></div>
    </a>
    <% } %>
    <% if (page.next){ %>
    <a href="<%- url_for(page.next.path) %>">
      <div class="next_title"><%=page.next.title||__('post.title')%><i class="fas fa-chevron-right"></i></div>
      <div class="next_desc"><%- truncate(strip_html(page.next.content), {length: 100}) %></div>
    </a>
    <% } %>
</div>
</article>
<%- partial('_partial/third_party/comment/index') %>
<%# 是否是文章 %> 
<% var is_toc = toc(page.content,{list_number: false})==""?false:true;  %> 
<%if(is_toc&&is_post()){%>
  <div id="toc">
    <div class="toc_title">
      <div>
        <%-__("post.toc")%>
          <span class="num">0%</span>
      </div>
      <progress class="progress" value="0" max="100"></progress>
    </div>
    <div class="toc_list">
      <%- toc(page.content,{list_number: false}) %>
    </div>
  </div>
<%}%>