
<%
var lastYear;
var lastMonth;
%>
<div id="archive">
<h3 class="article-count"><%-_p("archive.article-count")%> - <%= site.posts.length %></h3>
<div class="archive-article-info">
<% page.posts.sort('date', 'desc').each(function(post) { %>
    <% var currentYear = post.date.year(); %>
    <% var currentMonth = post.date.format('MM-DD'); %>
    <% if (lastYear != currentYear) { %>
        <% lastYear = currentYear; %>
        <h4 class="archive-year"><%= currentYear %></h4>
    <% } %>
        <div class="article-item">
            
            <a class="article-title-item" href="<%- url_for(post.path) %>" title="<%= post.title %>"><%= post.title %></a>
        
            <time class="post-created-date">
                <i class="far fa-calendar-alt"></i>
                 <%= currentMonth %>
            </time>
        </div>
<% }) %>
</div>
</div>
<%- partial('_partial/pagination') %>
<%- partial('_partial/rightside') %>