<aside tabindex="-1">
  <% if(is_post() && toc(page.content)){ %>
  <div class="sidebar-block sidebar-sticky toc-wrap" tabindex="-1">
    <div class="toc-btn">
      <%- partial('_assets/svg/toc', { className: 'toc-btn-icon' }) %>
    </div>
    <div class="sidebar-title toc-title"><%= _p('post.toc') %></div>
    <div class="sidebar-body">
      <ul class="toc-list">
        <%- toc(page.content) %>
      </ul>
    </div>
  </div>
  <% } else { %>

  <%# categories %>
  <% if(site.categories.data.length){%>
  <div class="sidebar-block categories-wrap">
    <div class="sidebar-title categories-title"><%= _p('post.categories') %></div>
    <div class="sidebar-body">
      <ul class="categories-list">
        <% site.categories.data.forEach(function(item) { %>
        <li class="categories-item">
          <a class="categories-link" href="<%= url_for(item.path) %>">
            <div class="categories-name"><%= item.name %></div>
            <div class="categories-count"><%= item.length %></div>
          </a>
        </li>
        <% }) %>
      </ul>
    </div>
  </div>
  <% } %>

  <%# tags %>
  <% if(site.tags.data.length){%>
  <div class="sidebar-block tags-wrap">
    <div class="sidebar-title tags-title"><%= _p('post.tags') %></div>
    <div class="sidebar-body">
      <% site.tags.data.forEach(function(item) { %>
      <a href="<%= url_for(item.path) %>" style="<%= color_tag_cloud() %>"><%= item.name %></a>
      <% }) %>
    </div>
  </div>
  <% } %>

  <div class="aside-footer"></div>
  <% } %>
</aside>