<footer class="footer" id="footer">
    <div class="copyright">
        <% var now = new Date().getFullYear(); %>
      &copy; <%- theme.footer.since === now ? theme.footer.since : (theme.footer.since + " - " + now) %>
        <i class="fas fa-fan"></i>
        <%= theme.author || config.author %>
    </div>
    <div class="framework-info">
        <span><%-_p("footer.framework")%> </span>
        <a href="https://hexo.io" target="_blank">Hexo</a>
        <span class="footer-separator">|</span>
        <span><%-_p("footer.theme")%> </span>
        <a href="https://github.com/lete114/hexo-theme-MengD" target="_blank">MengD.(萌典) </a>
    </div>
    <%if(theme.footer.icp.enable || theme.footer.cdn.enable){%>
    <div class="third-party">
        <%if(theme.footer.icp.enable){%>
        <span class="icp">
            <img src="<%= theme.footer.icp.icon%>" alt="ICP">
            <a id="icp" href="<%= theme.footer.icp.url%>" target="_blank"><%= theme.footer.icp.text%></a>
        </span>
        <%}%>
        <%if(theme.footer.icp.enable==theme.footer.cdn.enable){%>
            <span>|</span>
        <%}%>
        <%if(theme.footer.cdn.enable){%>
            <span class="cdn">
                <img src="<%= theme.footer.cdn.icon%>" align="absmiddle" width="60px" height="30px" alt="cdn-server">
                <a href="<%= theme.footer.cdn.url%>" target="_blank"><%= theme.footer.cdn.text%></a>
            </span>
        <%}%>
    </div>
    <%}%>
    
    <div class="custom-text"><%- theme.footer.custom_text || config.subtitle %></div>
</footer>