<header id="header">
    <div class="header-author">
        <a href="<%= config.root %>" class="author">
            <img src="<%=  theme.avatar %>" alt="<%= theme.author || config.author %>" class="author-avatar">
            <div class="author-name">
                <%= config.author %>
            </div>
        </a>
    </div>
    <div class="header-description">
        <p>
            <%= config.subtitle %>
        </p>
        <div class="header-icon">
            <% for (social in theme.social) { %>
                <a href="<%= url_for(theme.social[social]) %>"><i class="<%= social %>"></i></a>
            <% } %>
        </div>
    </div>
</header>