<%if(theme.reward.enable){%>
<%if(page.reward==null || page.reward){%>
<div class="post-reward">
    <div class="reward-button" <%-config.language=='en'?'style="font-size: 14px;"':""%>>
         <%-_p("reward.button")%>
         <div class="reward-main">
            <ul class="reward-all">
                <li class="reward-item"><a href="<%-theme.reward.wechat%>"
                        target="_blank">
                        <img class="post-qr-code-img" alt="<%-_p('reward.wechat')%>"
                            src="<%-theme.reward.wechat%>"></a>
                    <div class="post-qr-code-desc"><%-_p("reward.wechat")%></div>
                </li>
                <li class="reward-item"><a href="<%-theme.reward.alipay%>"
                        target="_blank">
                        <img class="post-qr-code-img" alt="<%-_p('reward.alipay')%>"
                            src="<%-theme.reward.alipay%>"></a>
                    <div class="post-qr-code-desc"><%-_p("reward.alipay")%></div>
                </li>
            </ul>
        </div>
    </div>
</div>
<%}%>
<%}%>