<section id="rightside">
    <%if(theme.rightside.settings){%>
    <%# 当设置了settings属性才会显示 %> 
    <div class="rightside_btn">
        <%theme.rightside.settings.forEach(items => {%>
        <%var item = items.split("||")%>
        <a <%-item[0]%> title="<%-item[1]%>">
            <i class="<%-item[2]%>"></i>
        </a>
        <%});%>
    </div>
    <%}%>
    <div class="rightside_item">
        <%if(theme.rightside.show){%>
            <%theme.rightside.show.forEach(items => {%>
            <%var item = items.split("||")%>
            <a <%-item[0]%> title="<%-item[1]%>">
                <i class="<%-item[2]%>"></i>
            </a>
            <%});%>
        <%}%>
        <%if(theme.rightside.settings){%>
        <%# 当设置了settings属性才会显示 %> 
        <a href="javascript:(0)" id="settings" title="<%-__('rightside.settings')%>">
            <i class="fas fa-cog fa-spin"></i>
        </a>
        <%}%>
        <%# 是否是文章 %> 
        <% var toc = toc(page.content,{list_number: false})==""?false:true;%> 
        <%if(toc&&is_post()){%>
            <a id="open_toc" title="<%-__('post.toc')%>">
                <i class="fas fa-list-ul"></i>
            </a>
        <%}%>
        <% if(theme.darkmode){ %> 
        <%# 是否开启深色模式 %> 
        <a href="javascript:(0)" id="darkmode" title="<%- __('rightside.dark') %> ">
            <i class="fas fa-moon"></i>
        </a>
        <% } %> 
        <% if(theme.comments&&page.comments){ %>
        <%# 是否开启深色模式 %>
            <a href="#<%-__('rightside.direct_comments')%>" title="<%-__('rightside.direct_comments')%>">
                <i class="fas fa-comments"></i>
            </a>
        <% } %>
        <a href="#" title="<%-__('rightside.back_to_top')%>">
            <i class="fas fa-arrow-up"></i>
        </a>
    </div>
</section>