<script src="<%-theme.CDN.share_js%>"></script>
<link rel="stylesheet" href="<%-theme.CDN.share_css%>">    
<div class="social-share"></div>
<script>
var $config = {
    sites   : "<%=theme.share.sites%>".split(","),
    wechatQrcodeTitle: "<%-_p('share.wechatQrcodeTitle')%>",
    wechatQrcodeHelper: "<%-_p('share.wechatQrcodeHelper')%>",
};
socialShare('.social-share', $config);
</script>