<% 
const sidebar = site.data.sidebar
if (!sidebar) {
    console.log('\033[32m MengD INFO:','\033[0m '+__('sidebar.log'));
    return
}

const recent = sidebar.recent

const sort = recent.sort === 'date' ? 'date' : 'updated'
const limit = recent.limit || 5

const siteInfo = sidebar.siteInfo
const runtime = siteInfo.runtime
%> 

<% if (theme.sidebar.enable) { %>
 
<div id="sidebar">
    
    <%# 是否开启粘性显示 %> 
    <% if (theme.sidebar.sticky) { %><div id="sidebar-sticky"><% } %>
    
        <%# 自定义 %> 
        <% sidebar.custom.forEach(item => { %>
            <% if (item.posit === 'before') { %>
                <div class="<%- item.class %> card">
                    <div class="headline"><%- item.headline %></div>
                    <div class="<%- item.class %>-item card-content"><%- item.content %></div>
                </div>
            <% } %>
        <% }) %>
        
        
        <% if (recent.enable) { %>
            <div class="recent-posts card">
                <div class="headline"><%= __('sidebar.recent.headline') %></div>
                <% site.posts.sort(sort, 'desc' ).slice(0,limit).each((post)=> { %>
                    <div class="recent-post-item card-content">
                        <a href="<%= url_for(post.path) %> "><%= post.title || __('post.title') %></a>
                    </div>
                <% }) %>
            </div>
        <% } %>

        <% if (siteInfo.enable) { %>
            <div class="site-info card">
                <div class="headline"><%= __('sidebar.siteInfo.headline') %></div>
                <% if (siteInfo.postCounter) { %>
                    <div class="site-info-item card-content">
                        <div class="item-name"><%= __('sidebar.siteInfo.postCounter') %>:</div>
                        <div class="item-content"><%= site.posts.length %></div>
                    </div>
                <% } %>
                <% if (siteInfo.runtime) { %>
                    <div class="site-info-item card-content">
                        <div class="item-name"><%= __('sidebar.siteInfo.runtime') %>:</div>
                        <div class="item-content"><span class="runtime" publish-date="<%= date_xml(runtime) %>"></span><%= __('sidebar.siteInfo.runtime_day') %> </div>
                    </div>
                <% } %>
                <% if (siteInfo.words) { %>
                    <div class="site-info-item card-content">
                        <div class="item-name"><%= __('sidebar.siteInfo.words') %>:</div>
                        <div class="item-content"><%= totalcount(site) %></div>
                    </div>
                <% } %>
            </div>
        <% } %>

        <%# 自定义 %> 
        <% sidebar.custom.forEach(item => { %>
            <% if (item.posit === 'later') { %>
                <div class="<%- item.class %> card">
                    <div class="headline"><%- item.headline %></div>
                    <div class="<%- item.class %>-item card-content"><%- item.content %></div>
                </div>
            <% } %>
        <% }) %>
        <%# 是否开启粘性显示 %> 
    <% if (theme.sidebar.sticky) { %></div><% } %>
</div>
<% } %>