<%-partial('import_headBefore')%>

<% 
var title = config.title
if (page.title)title = page.title+' | '+config.title

// 关键字
var keywords
if(page.keywords)keywords = Array.isArray(page.keywords) ? (page.keywords).join(',') : page.keywords // 文章关键字
else if(page.tags) keywords = page.tags.data.map((tag)=>{ return tag.name}).join(',') // 文章标签
else keywords = Array.isArray(config.keywords) ? (config.keywords).join(',') : config.keywords
keywords = keywords || config.keywords


// 描述
var description
if(is_home()) description=config.description 
else if(page.description)description = page.description
else {
    // 如果当前页面没有内容的话则使用配置文件的description 
    description = page.content || config.description 
    // 先移除多余得空格和换行符，以及代码块的行号
    description = description.replace(/<td class=\"gutter\"><pre>(.*?)<\/pre><\/td>/gim,'')
    description = description.replace(/[\n]|[\r\n]|[\s]/gim,'')
    // 然后移除html标签
    description = strip_html(description)
    // 最后分割，获取指定内容
    description = truncate(description,{length: theme.description.length })

}

// 图片
var image = page.cover || theme.avatar
image = full_url_for(image)

// icon
var icon = full_url_for(theme.favicon || config.favicon)

%>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
<title><%= title %></title>
<meta name="author" content="<%= config.author %>">
<meta name="copyright" content="<%= config.author %>">

<%- favicon_tag(icon) %>

<% if (keywords) { %>
<meta name="keywords" content="<%= keywords %>">
<% } %>

<% if (theme.open_graph.enable) { %>
<%  var options = Object.assign({image}, theme.open_graph.options||{}) %>
<%- open_graph(options) %>
<% }else { %>
<meta name="image" content="<%= image %>">
<meta property="url" content="<%= full_url_for(path) %>">
<meta name="description" content="<%= description %>">
<% } %>

<meta http-equiv="Cache-Control" content="no-siteapp" />
<link href="//cdn.jsdelivr.net" rel="preconnect">
<link href="<%= config.url %>" rel="prefetch">
<link href="<%= theme.CDN.fortawesome %> " rel="stylesheet">
<link href="<%= theme.CDN.mainCss %> " rel="stylesheet">
<script src="<%= theme.CDN.utlis %>"></script>
<%-partial('import_headAfter')%>