<aside tabindex="-1">
  <% if(is_post() && toc(page.content)){ %>
  <div class="sidebar-block sidebar-sticky toc-wrap" tabindex="-1">
    <div class="toc-btn">
      <%- partial('_assets/svg/toc', { className: 'toc-btn-icon' }) %>
    </div>
    <div class="sidebar-title toc-title"><%= _p('post.toc') %></div>
    <div class="sidebar-body">
      <ul class="toc-list">
        <%- toc(page.content) %>
      </ul>
    </div>
  </div>
  <% } else { %>

  <% 
    const before = Array.isArray(theme.aside.before) ? theme.aside.before : []
    const after = Array.isArray(theme.aside.after) ? theme.aside.after : []
  %>

  <%# custom aside before %>
  <% for (const item of before){ %>
  <div class="sidebar-block sidebar-custom">
    <%- item %>
  </div>
  <% } %>

  <%# categories %>
  <% const categories = site.categories.data %>
  <% if(Array.isArray(categories) && categories.length){%>
  <div class="sidebar-block categories-wrap">
    <div class="sidebar-title categories-title"><%= _p('post.categories') %></div>
    <div class="sidebar-body">
      <ul class="categories-list">
        <% for(const item of categories) { %>
        <li class="categories-item">
          <a class="categories-link" href="<%= url_for(item.path) %>">
            <div class="categories-name"><%= item.name %></div>
            <div class="categories-count"><%= item.length %></div>
          </a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
  <% } %>

  <%# tags %>
  <% const tags = site.tags.data %>
  <% if(Array.isArray(tags) && tags.length){ %>
  <div class="sidebar-block tags-wrap">
    <div class="sidebar-title tags-title"><%= _p('post.tags') %></div>
    <div class="sidebar-body">
      <% for(const item of tags) { %>
      <a href="<%= url_for(item.path) %>" style="<%= color_tag_cloud() %>"><%= item.name %></a>
      <% } %>
    </div>
  </div>
  <% } %>

  <%# links %>
  <% const links = site.data.link %>
  <% if(Array.isArray(links) && links.length){ %>
  <div class="sidebar-block link-wrap">
    <div class="sidebar-title"><%= _p('aside.link') %></div>
    <div class="sidebar-body">
      <ul class="link-list">
        <% for(const item of links) { %>
        <% const [name, link] = Object.entries(item).flat() %>
        <li class="link-item">
          <a class="link-link" href="<%= link %>" target="_blank"><%= name %></a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
  <% } %>

  <%# custom aside after %>
  <% for (const item of after){ %>
  <div class="sidebar-block sidebar-custom">
    <%- item %>
  </div>
  <% } %>
  <% } %>
</aside>