<head>
  <%- partial('_partial/import', { resource: theme.import.head.before }) %>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, viewport-fit=cover">
  <% const title = page.title ? `${page.title} | ${config.title}` : config.title %>
  <title><%= title %></title>
  <%- favicon_tag(theme.favicon) %>
  <%- open_graph(theme.open_graph || {}) %>
  <%- css('css/style') %>
  
  <% if(is_page() || is_post()){ %>
  <%- js({ src: 'js/image-preview.js', defer: true }) %>
  <% } %>
  <%- js({ src: 'js/main.js', defer: true }) %>
  <%- partial('_partial/import', { resource: theme.import.head.after }) %>
</head>