<%
var title = theme.title || config.title
if(page.title!=null){
    title = page.title + ' | '+title
}
var keywords = '';
if(page.tags!=null){
    page.tags.forEach(function(tag, i){ 
        keywords += tag.name+","
    })
    keywords = keywords.substring(0,keywords.length-1);
}else{
    var keywords = theme.keywords || config.keywords
}

var description = page.description
if(description==null){
    var content = strip_html(page.content)
    description = content.substring(0, theme.post_content.length)
}

var url = config.url+"/"+page.path;

%>
<meta charset="utf-8">
<meta http-equiv="content-language" content="<%-theme.language || config.language%>">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
<title><%- title %></title>
<link rel="icon" href="<%-theme.favicon%>">
<meta name="keywords" content="<%- keywords || theme.keywords || config.keywords %>">
<meta name="description" content="<%= description || theme.description || config.description%>" />
<meta property="site_name" content="<%- theme.title || config.title %>" />
<meta property="og:type" content="website">
<meta property="og:url" content="<%- url || config.url%>">
<meta property="og:title" content="<%- title || theme.title || config.title %>" />
<meta property="og:site_name" content="<%- theme.title || config.title %>" />
<meta property="og:description" content="<%= description || theme.description || config.description%>" />
<meta property="og:locale" content="<%-theme.language || config.language%>">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="<%- title || theme.title || config.title %>">
<meta name="twitter:description" content="<%=description || theme.description || config.description%>">
<%//域名验证
    if(theme.verify!=null){
        for(let i in theme.verify){%>
        <%-theme.verify[i]%>
        <%}
    }
%>
<link rel="dns-prefetch" href="<%- url || config.url%>">
<link rel="stylesheet" href="<%-theme.CDN.index_css%>">
<script src="<%-theme.CDN.utlis%>"></script>