<header>
    <div class="card-content">
        <div class="author-info">
            <div>
                <a href="<%= config.root %>">
                    <img src="<%=  theme.avatar %>" alt="<%= theme.author || config.author %>" class="avatar">
                    <div class="author"><%= theme.author || config.author %></div>
                </a>
            </div>
        </div>
        <div id="description" class="description">
            <p><%= theme.description || config.description %></p>
            <div class="social-icon">
                <% for (social in theme.social) { %>
                    <a href="<%- url_for(theme.social[social]) %>" ><i class="<%= social %>"></i></a>
                <% } %>
            </div>
        </div>
    </div>
</header>