<nav class="site_nav" id="site_nav">
    <i id="openNav" class="fas fa-bars openNav"></i>
    <%if(theme.search.enable){%>
    <i class="fas fa-search search-btn"></i>
    <%}%>
    <div id="mobileNav">
        <div class="author-info">
            <div>
                <a href="<%= config.root %>">
                    <img src="<%=  theme.avatar %>" alt="<%= theme.author || config.author %>" class="avatar">
                    <div class="author"><%= theme.author || config.author %></div>
                </a>
            </div>
            <hr>
        </div>
        <ul>
        <% for (name in theme.menu) { %>
            <% if(!Array.isArray(theme.menu[name])){ %>
            <li><a href="<%- url_for(theme.menu[name]) %>"><%= name %></a></li>
            <% }else{%>
            <% for (child in theme.menu[name]) {%>
                <li><a href='<%-url_for(theme.menu[name][child].split("||")[1].trim())%>'><%-theme.menu[name][child].split("||")[0].trim()%></a></li>
            <% } %>
            <% } %>
        <% } %>
        </ul>
    </div>
    <ul>
    <% for (name in theme.menu) { %>
            <% if(!Array.isArray(theme.menu[name])){ %>
            <li><a href="<%- url_for(theme.menu[name]) %>"><%= name %></a></li>
            <% }else{%>
            <li>
                <a class="menu_child_hover" href="javascript:void(0);"><%-name%></a>
                <ul class="menu_child">
                <% for (child in theme.menu[name]) {%>
                    <li><a href='<%-url_for(theme.menu[name][child].split("||")[1].trim())%>'><%-theme.menu[name][child].split("||")[0].trim()%></a></li>
                <% } %>
                </ul>
            </li>
            <% } %>
        <% } %>
    </ul>
</nav>