<section id="rightside">
    <%if(theme.rightside!=null){%>
    <div id="rightside-btn">
        <%for(var i in theme.rightside){%>
        <%var item = theme.rightside[i].split("||")%>
        <a <%-item[0]%> title="<%-item[1]%>">
            <i class="<%-item[2]%>"></i>
        </a>
        <%}%>
    </div>
    <%}%>
    <div id="rightside-item">
        <%if(theme.rightside!=null){%>
            <a href="javascript:(0)" id="settings" title="<%-_p('rightside.settings')%>">
                <i class="fas fa-cog fa-spin"></i>
            </a>
        <%}%>
        <%if(toc(page.content,{list_number: false})!=""){%>
            <%if(is_post()){%>
                <a class="rightside-toc" title="<%-_p('article.toc')%>">
                    <i class="fas fa-list-ul"></i>
                </a>
            <%}%>
        <%}%>
        <%if(theme.comments!=null||page.comments==null){%>
            <%if(page.comments){%>
            <a href="#<%-_p('rightside.direct_comments')%>" title="<%-_p('rightside.direct_comments')%>">
                <i class="fas fa-comments"></i>
            </a>
            <%}%>
        <%}%>
        <a href="#" title="<%-_p('rightside.back_to_top')%>">
            <i class="fas fa-arrow-up"></i>
        </a>
    </div>
</section>