<section id="rightside">
    <div class="rightside-item">

        <%# 打开目录按钮 %> 
        <% 
            var enableToc = theme.toc.enable
            var pageToc = true
            // page中是否有toc属性
            if(page.hasOwnProperty("toc")) pageToc = page.toc
            var isToc = is_post() && pageToc && toc(page.content) 
        %>
        <%if(enableToc&&isToc){%>
            <a id="open-toc" title="<%-__('post.toc')%>">
                <i class="fas fa-list-ul"></i>
            </a>
        <%}%>


        <% if(theme.darkmode){ %> 
        <%# 是否开启深色模式 %> 
        <a href="javascript:void(0);" id="darkmode" title="<%- __('rightside.dark') %> ">
            <i class="fas fa-moon"></i>
        </a>
        <% } %> 


        <% if(theme.comments&&page.comments){ %>
            <a href="#<%-__('rightside.directComments')%>" title="<%-__('rightside.directComments')%>">
                <i class="fas fa-comments"></i>
            </a>
        <% } %>


        <a href="#" title="<%-__('rightside.backToTop')%>">
            <i class="fas fa-arrow-up"></i>
        </a>
    </div>
</section>